<% layout('layouts/boilerplate.ejs') %>
<div class="row">
    <h1 class="text-center">Nuevo Campamento</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Título</label>
                <input class="form-control" type="text" id="title" name="campground[title]" required>
                <div class="valid-feedback">
                    Muy bien!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Ubicación</label>
                <input class="form-control" type="text" id="location" name="campground[location]" required>
                <div class="valid-feedback">
                    Muy bien!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Precio</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="number" class="form-control" id="price" placeholder="0.00" aria-label="price" aria-describedby="price-label" name="campground[price]" required>
                    <div class="valid-feedback">
                        Muy bien!
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Descripción</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]" required></textarea>
                <div class="valid-feedback">
                    Muy bien!
                </div>
            </div>
            <div class="mb-3">
                <label class="mb-2" for="image">Agregar Imágenes</label>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" id="image" name="image" multiple>
                    <label class="input-group-text" for="image">Browse</label>
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Agregar Campamento</button>
            </div>
        </form>
    </div>
</div>