#cluster-map{
    width: 100%;
    height: 400px;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
}

.br{
    border-radius: 10px;
}

.br-image{
    border-radius: 10px 0 0 10px;
}

#map {
    width: 100%;
    height: 300px;
}

.contain{
    margin-top: 400px;
}

.img{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.img .carousel .carousel-inner .carousel-item img{
    height: 300px;
    object-fit: cover;
}

@media (max-width: 771px){
    .showmq{
        display: grid;
    }
    .review{
        width: 100%;
    }
    .img{
        width: 100%;
    }
}

/* Peril User */
.cardPerfil{
    position: relative;
    width: 100%;
    height: 100%;
}

.perfilImg{
    width: 180px;
    height: 180px;
    border-radius: 100%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.perfilImgNav, .authorImg {
    cursor: pointer;
    margin-right: 15px;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    object-fit: cover;
}

.navbar-nav{
    align-items: center;
}

.perfilNav{
    display: flex;
    align-items: center;
}

.perfilNav span{
    color: whitesmoke;
    margin-right: 15px;
}

.authorImg{
    cursor: default;
    margin: 0 10px;
}

.reviewUser{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0 20px 0;
}

.timeReview{
    font-size: 16px;
    color: gray;
    font-weight: 300;
    margin-left: 15px;
}

.review{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}


